* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

/* Example
@mixin location-background($bg-img: url("../images/israel.png")) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    $bg-img;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
@font-face {
  font-family: GillSans;
  src: url(../lib/fonts/GillSans.ttf);
}
@font-face {
  font-family: PTSerif;
  src: url(../lib/fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: PTSerifBold;
  src: url(../lib/fonts/PTSerif-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: PTSerifBoldItalic;
  src: url(../lib/fonts/PTSerif-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: PTSerifItalic;
  src: url(../lib/fonts/PTSerif-Italic.ttf);
  font-style: italic;
}
nav {
  max-width: 980px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
nav .links a {
  font-family: GillSans;
  text-decoration: none;
  font-size: 15px;
}
nav .links .divider {
  color: rgb(238, 67, 103);
  padding-left: 14px;
  padding-right: 14px;
}

.white-text {
  color: #fff;
  border-bottom: 3px solid #fff;
}
.white-text .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-white.svg);
}
.white-text .links a {
  color: #fff;
}

.black-text {
  color: #000;
  border-bottom: 3px solid #000;
}
.black-text .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-black.svg);
}
.black-text .links a {
  color: #000;
}

@media only screen and (max-width: 1024px) {
  nav {
    width: 96%;
  }
}
footer {
  width: 100%;
  min-height: 455px;
  background-color: rgb(238, 67, 103);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-family: GillSans;
}
footer .logo {
  margin-top: 36px;
  margin-bottom: 46px;
}
footer p {
  color: #fff;
  margin-bottom: 5px;
}
footer .newsletter {
  margin-top: 46px;
  max-width: 696px;
  min-height: 60px;
  display: flex;
}
footer .newsletter .subscribe {
  background-color: #F56B88;
  width: 529px;
  font-size: 16px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-family: GillSans;
}
footer .newsletter button {
  background-color: #fff;
  color: rgb(238, 67, 103);
  width: 167px;
  border: none;
}
footer .icons {
  color: #fff;
  font-size: 32px;
}
footer .icons i {
  padding: 30px;
}
footer h6 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin-top: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 750px) {
  /* For phone screens */
  footer .newsletter {
    flex-direction: column;
  }
  footer .newsletter .subscribe {
    width: 100%;
  }
  footer .newsletter button {
    height: 60px;
    width: 100%;
  }
}
.hero-image {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: -1;
}
.hero-image h1 {
  font-family: PTSerif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 9px;
  margin-top: 62px;
}
.hero-image h6 {
  font-family: GillSans;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  color: rgb(238, 67, 103);
}
.hero-image p {
  max-width: 420px;
  text-align: center;
  font-family: GillSans;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 48px;
}
.hero-image button {
  width: 122px;
  height: 40px;
  background-color: rgb(238, 67, 103);
  color: #fff;
  border: none;
}

.image-spacer {
  width: 100%;
  height: 407px;
  margin: 0 auto;
}

.quote {
  width: 100%;
  min-height: 300px;
}
.quote .content {
  max-width: 790px;
  margin: auto;
}
.quote .content h3 {
  padding-top: 77px;
  color: rgb(255, 209, 64);
  font-family: GillSans;
  font-weight: bold;
  font-style: italic;
}
.quote .content h4 {
  color: rgb(238, 67, 103);
  font-size: 15px;
  font-family: PTSerif;
  margin-bottom: 5px;
}
.quote .content p {
  font-size: 10px;
  font-family: PTSerif;
}

@media only screen and (max-width: 1024px) {
  .quote {
    padding: 10px;
  }
}
.events-container {
  width: 100%;
  min-height: 320px;
  background-color: rgb(84, 13, 110);
  margin: 0 auto;
}
.events-container .header {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
}
.events-container .header h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: #fff;
  font-weight: normal;
}
.events-container .header hr {
  max-width: 392px;
}
.events-container .events {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 35px;
}
.events-container .events .event {
  width: 220px;
  min-height: 215px;
  display: flex;
  justify-content: space-between;
}
.events-container .events .event .date {
  width: 60px;
  height: 60px;
  background-color: rgb(238, 67, 103);
  color: #fff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.events-container .events .event .date h4 {
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 8px;
}
.events-container .events .event .date p {
  font-size: 12px;
  font-weight: lighter;
}
.events-container .events .event .content {
  width: 140px;
  height: 100%;
}
.events-container .events .event .content h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #fff;
}
.events-container .events .event .content p {
  color: rgb(238, 67, 103);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}

@media only screen and (max-width: 750px) {
  /* For phone screens */
  .events-container {
    min-height: 400px;
  }
  .events-container .events {
    flex-direction: column;
  }
  .events-container .events .event {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  /* For medium screens */
  .events-container {
    min-height: 400px;
  }
  .events-container .events .event {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1200px) {
  /* For large screens */
  .events-container .events .event {
    width: 220px;
    height: 215px;
    display: flex;
    justify-content: space-between;
  }
}
.about-content {
  max-width: 980px;
  min-height: 500px;
  background-color: #fff;
  padding-top: 85px;
  padding-bottom: 95px;
  margin: 0 auto;
}
.about-content .header-image {
  max-width: 980px;
  height: 379px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.about-content .header-image {
  position: relative;
}
.about-content .header-image h6 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}
.about-content hr {
  width: 229px;
  border: 2px solid #000;
  margin-top: 11px;
  margin-bottom: 37px;
}
.about-content .about {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16;
  font-weight: lighter;
  font-style: italic;
}

@media only screen and (max-width: 1024px) {
  .about-content {
    width: 96%;
  }
  .about-content .about {
    padding: 10px;
  }
}
.gallery {
  width: 980px;
  margin: 0 auto;
}
.gallery .gallery-header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 66px;
}
.gallery .gallery-header h2 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 10.5px;
}
.gallery .gallery-header hr {
  border: 1px solid #000;
  width: 230px;
  margin-bottom: 10px;
}
.gallery .gallery-row-one {
  min-height: 190px;
  width: 980px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.gallery .gallery-row-one #one {
  height: 190px;
}
.gallery .gallery-row-one #one .gallery {
  height: 100%;
  max-width: 489px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery .gallery-row-one #two {
  height: 190px;
}
.gallery .gallery-row-one #two .gallery {
  height: 100%;
  max-width: 187px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url("../images/2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery .gallery-row-one #three {
  height: 190px;
}
.gallery .gallery-row-one #three .gallery {
  height: 100%;
  max-width: 265px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.8)), url("../images/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery .gallery-row-two {
  min-height: 305px;
  width: 980px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
}
.gallery .gallery-row-two #four {
  height: 305px;
}
.gallery .gallery-row-two #four .gallery {
  height: 100%;
  max-width: 603px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url("../images/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery .gallery-row-two #five {
  height: 305px;
}
.gallery .gallery-row-two #five .gallery {
  height: 100%;
  max-width: 355px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.8)), url("../images/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .gallery {
    width: 98%;
  }
  .gallery .gallery-row-one {
    width: 98%;
    flex-direction: column;
  }
  .gallery .gallery-row-one #one {
    height: 190px;
    margin-bottom: 20px;
  }
  .gallery .gallery-row-one #one .gallery {
    height: 100%;
    max-width: 100%;
    background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .gallery .gallery-row-one #two {
    height: 190px;
    margin-bottom: 20px;
  }
  .gallery .gallery-row-one #two .gallery {
    height: 100%;
    max-width: 100%;
    background-image: linear-gradient(rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url("../images/2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .gallery .gallery-row-one #three {
    height: 190px;
  }
  .gallery .gallery-row-one #three .gallery {
    height: 100%;
    max-width: 100%;
    background-image: linear-gradient(rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.8)), url("../images/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .gallery .gallery-row-two {
    width: 98%;
    flex-direction: column;
  }
  .gallery .gallery-row-two #four {
    height: 190px;
    margin-bottom: 20px;
  }
  .gallery .gallery-row-two #four .gallery {
    height: 100%;
    max-width: 100%;
    background-image: linear-gradient(rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url("../images/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .gallery .gallery-row-two #five {
    height: 190px;
  }
  .gallery .gallery-row-two #five .gallery {
    height: 100%;
    max-width: 100%;
    background-image: linear-gradient(rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.8)), url("../images/5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.gallery-item {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 73px;
}
.gallery-item .header-image .header-text {
  max-width: 980px;
  height: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}
.gallery-item .header-image .header-text p {
  font-size: 250px;
  margin-bottom: 0px;
}
.gallery-item .header-image .header-text span {
  font-size: 100px;
}
.gallery-item .gallery-text {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}
.gallery-item .gallery-text .large {
  width: 490px;
}
.gallery-item .gallery-text .small {
  width: 450px;
}

#gallery1 .header-image {
  max-width: 980px;
  height: 379px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url("../images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#gallery1 .header-image {
  color: rgb(255, 209, 64);
}

#gallery2 .header-image {
  max-width: 980px;
  height: 379px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url("../images/2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#gallery2 .header-image {
  color: rgb(238, 67, 103);
}

#gallery3 .header-image {
  max-width: 980px;
  height: 379px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.8)), url("../images/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#gallery3 .header-image {
  color: rgb(8, 173, 105);
}

#gallery4 .header-image {
  max-width: 980px;
  height: 379px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url("../images/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#gallery4 .header-image {
  color: rgb(84, 13, 110);
}

#gallery5 .header-image {
  max-width: 980px;
  height: 379px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.8)), url("../images/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#gallery5 .header-image {
  color: rgb(59, 206, 171);
}

@media only screen and (max-width: 768px) {
  .gallery-item .header-image .header-text {
    height: 90px;
  }
  .gallery-item .header-image .header-text p {
    font-size: 90px;
  }
  .gallery-item .header-image .header-text span {
    font-size: 40px;
  }
  .gallery-item .gallery-text {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .gallery-item .gallery-text .large {
    width: 90%;
  }
  .gallery-item .gallery-text .small {
    width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
