//Site color scheme
$site-purple: rgb(84, 13, 110);
$site-pink: rgb(238, 67, 103);
$site-yellow: rgb(255, 209, 64);
$site-teal: rgb(59, 206, 171);
$site-green: rgb(8, 173, 105);

$content-width: 980px;