.quote{
    width: 100%;
    min-height: 300px;

    .content{
        max-width: 790px;
        margin: auto;

        h3{
            padding-top: 77px;
            color: $site-yellow;
            font-family: GillSans;
            font-weight: bold;
            font-style: italic;
        }
        h4{
            color: $site-pink;
            font-size: 15px;
            font-family: PTSerif;
            margin-bottom: 5px;
        }
        p{
            font-size: 10px;
            font-family: PTSerif;
        }
    }
    
}

@media only screen and (max-width: 1024px){
    .quote{
        padding: 10px;
    }
}